.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px 40px;
    user-select: none;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaf1ff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    max-width: 60%;
}

.product-info h2 {
    margin-bottom: 10px;
}

.product-image img {
    max-height: 100px;
    object-fit: contain;
    border-radius: 15px;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d93636;
}

.edit-btn {
    background-color: #4d9aff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #388bf8;
}

.button-row {
    user-select: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.button-row form {
    margin: 0;
}

.admin-container {
    display: flex;
    gap: 40px;
    padding: 20px 40px 40px;
    align-items: flex-start;
}

.products-left {
    flex: 2;
}

.product-form-right {
    padding: 20px 40px 40px;
    flex: 1;
}

.create-box {
    background: #f9faff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.create-box h2 {
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: 600;
    margin-bottom: 8px;
    user-select: none;
}

.field input {
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.field input:focus {
    border-color: #4158d0;
    outline: none;
}

.create-box button {
    background: #4158d0;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-box button:hover {
    background: #3142b1;
}