@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
}

html,body{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    overflow-y: auto;
    place-items: center;
    background: var(--webpage-background);
}

.site-header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 40px;
    box-sizing: border-box;
}

.link {
    color: var(--border-colour);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-left {
    text-decoration: none;
    user-select: none;
}

.nav-right-group {
    display: flex;
    gap: 20px;
    align-items: center;
    user-select: none;
}

.nav-right-group a {
    text-decoration: none;
}

.navbar a:active,
.navbar a:focus {
    outline: none;
    text-decoration: none;
}

.alert {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 280px;
    padding: 20px;
    margin: 0 auto 5px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation:
            fadeSlideDown 0.4s ease-out forwards,
            fadeOut 0.5s ease-in forwards 3s;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    text-align: center;
}

.alert.success {
    color: #308115;
    background-color: #d6ffd5;
}

.alert.error {
    color: #811525;
    background-color: #ffd5de;
}

.alert.info {
    color: #373737;
    background-color: #bababa;
}

@keyframes fadeSlideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}