{% extends "base-template.html" %}
{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login-and-register-pages.css') }}">{% endblock%}
{% block header %}{% endblock%}
{% block content %}
    <div class="wrapper">
        <div class="heading">
            <div class="title">
                Amazon Reviews
            </div>
            <div class="login-text">
                Enter Details for Registration
            </div>
        </div>
        <form method="post">
            <div class="field">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>
            <div class="field">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="password" name="repeated-password" required>
                <label>Repeat Password</label>
            </div>
            <div class = "password-requirements">
                Password must contain:
                <ul>
                    <li>At least 10 characters</li>
                    <li>At least 1 CAPITAL letter</li>
                    <li>At least 1 lowercase letter</li>
                    <li>At least 1 number</li>
                </ul>
            </div>
            <div class="field">
                <input type="submit" value="Register">
            </div>
            <div class="signup-link">
                Have an account? <a href="/login">Login here</a>
            </div>
        </form>
    </div>
{% endblock %}
